{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="form-group">
            <label for="username">{{ 'username'|trans }}:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
        </div>


        <label for="password">{{ 'password'|trans }}:</label>
        <input type="password" id="password" name="_password" class="form-control">

        <input type="hidden" name="_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="btn btn-success">{{ 'login'|trans }}</button>
    </form>

    <a href={{ path('app_register') }} >{{ 'register'|trans }}</a>

{% endblock %}