{% extends 'base.html.twig' %}
{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .articles {
        margin: 0 auto;
        width: 80%;
        text-wrap: balance;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        min-height: 100vh;
    }

    .articles-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .article-table {
        width: 100%;
    }

    .article-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*margin: 1rem;*/
        padding: 1rem;
        border: 1px solid black;
        border-radius: 1rem;
        width: 100%;
    }

    .article-title {
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        text-wrap: balance;
    }

    .article-content {
        font-size: .75rem;
        color: gray;
        text-align: left;
        text-wrap: balance;
    }

    .article-date {
        text-align: center;
    }

    .article-icons {
        text-align: right;
    }

    i svg {
        margin: 0 .5rem;
        width: 2rem;
        height: 2rem;
    }
</style>
<div class="articles">
    <div class="articles-container">
        <table class="article-table">
            <tbody>
                {% for article in articles %}
                <tr class="article-container">
                    <td>
                        <a href="{{ path("app_posts_show_controller",{"slug":article.slug}) }}">
                            <h3 class="article-title">{{ article.title }}</h3>
                            <p class="article-content">{{ article.content }}</p>
                        </a>
                    </td>
                    <td class="article-date">{{ article.date }}</td>
                    <td class="article-icons">
                        <i class="icon1" onclick="window.location.href='/posts/show/{{ article.slug }}'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-star" viewBox="0 0 16 16">
                                <path
                                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                            </svg>
                        </i>
                        <i class="icon2" onclick="window.location.href='/posts/show/{{ article.slug }}'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                <path
                                    d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
                                <path
                                    d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                            </svg>
                        </i>
                        <i class="icon3"></i>
                    </td>
                </tr>
                {% endfor %}

                <div class="pagination">
                    {{ knp_pagination_render(articles) }}
                </div>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}