{% extends 'base.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier Votre Profil</h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <br>

        <div class="form-group">
            {{ form_label(form.username, 'Nom d\'utilisateur') }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.username) }}
        </div>

        <br>

        <div class="form-group">
            {{ form_label(form.email, 'Email') }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>

        <br>

        <div class="form-group">
            {{ form_label(form.plainPassword, 'Nouveau Password') }}
            <br>
            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
            <br>
            {{ form_errors(form.plainPassword) }}
        </div>

        <br>
        {# Ajoutez d'autres champs du formulaire ici #}

        <button type="submit" class="btn btn-primary">Enregistrer les Modifications</button>

        {{ form_end(form) }}

        <a href="{{ path('profile') }}">Retour au Profil</a>
    </div>
{% endblock %}