{% extends 'base.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}

{% block body %}
    <h1>Modifier Votre Profil</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% block base_form_fields %}
        <div class="form-group">
            {{ form_label(form.username, 'Nom d\'utilisateur') }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.username) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email, 'Email') }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            {{ form_label(form.password, 'Password') }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.password) }}
        </div>


    {% endblock %}

    {# Ajoutez d'autres champs du formulaire ici #}

    <button type="submit" class="btn btn-primary">Enregistrer les Modifications</button>

    {{ form_end(form) }}

    <a href="{{ path('profile') }}">Retour au Profil</a>
{% endblock %}