<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }

    nav {
        background: #333;
        padding: 10px;
        text-align: center;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline-block;
        margin-right: 10px;
    }

    nav ul li a {
        color: #FFF;
        text-decoration: none;
        padding: 5px 10px;
    }

    nav ul li a:hover {
        background: #FFF;
        color: #333;
    }

    nav ul li.current-page a {
        background: #FFF;
        color: #333;
    }
</style>

<nav>
    <ul>
        <li class="{{ home is defined and home ? 'current-page'  }}">
            <a href="/{{langue}}">Home</a>
        </li>
        {% if is_granted('ROLE_USER') %}
        <li class="{{ profile is defined and profile ? 'current-page' }}">
            <a href="/{{langue}}/profile">Profile</a>
        </li>
        <li>
            <a href="/{{langue}}/logout">Logout</a>
        </li>
        {% else %}
        <li class="{{ login is defined and login ? 'current-page' }}">
            <a href="/{{langue}}/login">Login</a>
        </li>
        <li class="{{ register is defined and register ? 'current-page' }}">
            <a href="/{{langue}}/register">Register</a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li class="{{ admin is defined and admin ? 'current-page' }}">
            <a href="/{{langue}}/admin">Admin</a>
        </li>
        <li>
            <a href="/{{langue}}/posts/create">Create Post</a>
        </li>
        {% else %}
        <li class="{{ contact is defined and contact ? 'current-page' }}">
            <a href="/{{langue}}/contact">Contact</a>
        </li>
        {% endif %}
    </ul>


    <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
        {% for locale in locales() %}
            <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"
                {% else %}aria-checked="false"{% endif %} role="menuitem">
                <a href="{{ path(app.request.get('_route'),
                    app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                    {{ locale.name|capitalize }} <small>{{ locale.code }}</small>
                </a>
            </li>
        {% endfor %}
    </ul>

</nav>