{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>
<p>{{ date }}</p>
<p>{{ content }}</p>
<img src="{{ image }}" alt="Article Image">

{% if is_granted('ROLE_ADMIN') %}

<a href="{{ path("app_posts_edit_controller", {'slug': slug}) }}"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Edit
    Post</a>

<form action="{{ path("app_posts_delete_controller", {'slug': slug}) }}" method="post">
    <button type="submit" class="btn btn-danger">Delete Post</button>
</form>

{% endif %}

{% if is_granted('ROLE_USER') %}
<script src="{{ asset('js/download_pdf.js') }}"></script>

    {% for tag in article.tag %}
        <p>{{ tag.name }}</p>
    {% endfor %}

<a href="{{ path('download_article_pdf', { 'id': article_id }) }}" class="download-link">Télécharger en PDF</a>
{% endif %}
{% endblock %}